.vs/QuartileStores/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
.vs/QuartileStores/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
.vs/QuartileStores/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
.vs/QuartileStores/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
.vs/QuartileStores/FileContentIndex/7ab637c2-fa21-4373-9016-dcbf165bc354.vsidx
.vs/QuartileStores/FileContentIndex/8e85e8dc-12c6-41b2-85ef-9316da6e50c8.vsidx
.vs/QuartileStores/FileContentIndex/9cceddef-4b73-458a-be1a-70af0f6e42b6.vsidx
.vs/QuartileStores/FileContentIndex/33de8c00-8411-4ffd-92a1-1d1e05218e35.vsidx
.vs/QuartileStores/FileContentIndex/97b25dc4-2427-4784-b45b-926460141334.vsidx
.vs/QuartileStores/FileContentIndex/c320d282-d950-40a7-b1b9-9c241fcdf1f3.vsidx
.vs/QuartileStores/FileContentIndex/d36aee75-0923-45ee-a6b4-6aa26ab9784b.vsidx
.vs/QuartileStores/FileContentIndex/e196e1ad-185b-4f01-badf-4fa5edcd9ef0.vsidx
src/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
src/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
src/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
tests/bin/Debug/net8.0/CoverletSourceRootsMapping_tests
tests/obj/Debug/net8.0/tests.AssemblyInfo.cs
tests/obj/Debug/net8.0/tests.AssemblyInfoInputs.cache
tests/obj/Debug/net8.0/tests.csproj.AssemblyReference.cache
